@font-face {
	font-family: myFont;
	src: url(font/BelweBold.woff);
}

html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	background: #7d7e7d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
	background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}

.container {
	width: 1350px;
	height: auto;
	margin-top: 25px;
}

.light-left {
	margin-left: 0px;
	float: left;
}

.light-right {
	margin-left: 230px;
	float: left;
}

#screen{
	background-size:100%;
	background-repeat: no-repeat;
	width: 700px;
	height: 590px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#holder, .form-container {
	width: 300px;
	height: auto;
	float: left;
}

#ans, #commandHistory {
	color: #eee;
	background-color: black;
	height: 535px;
	width: 480px;
	padding: 5px;
	margin-top: 25px;
	border-style: solid;
	border-width: 2px;
	line-height: 13pt;
	border-color: black;
	 margin-left: 30px;
	 	font-size: 22px;
	 font-family: myFont;
	 resize: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 #tabHistory {
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	line-height: 13pt;
	border-color: black;
	 	font-size: 22px;
		font-weight: bold;
	 resize: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#button {
	display: none;
}

#mainMenu{
	width: 500px;
	height: 400px;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: #eee;
	margin: 0 auto;
	margin-top: 100px;
    background: rgb(238, 238, 238);
    background: rgba(238, 238, 238, .5);
}

#mainScreen{
	background-image: url('../images/mainBack.gif') !important;
	background-size:100%;
	background-repeat: no-repeat;
}

.menuButton{
	margin: 10px;
	margin-left: 73px;
	width: 350px;
	height: 60px;
    background: rgb(168, 137, 90);
    background: rgba(168, 137, 90, .8);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer; cursor: hand;
}