<nav class="navbar navbar-fixed-top navbar-radfordred">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Rowdy Red's Java Adventures
                <span ng-if="!vm.game.roomName">&raquo; {{vm.gameName}}</span>
                <span ng-if="vm.game.roomName">&raquo; {{vm.game.gameName}}</span>
                <span ng-show="vm.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid no-space game-container">
  <div class="row disableMarginRight">
    <div class="col-xs-6 no-space" style="height:100%;background: url('./img/{{vm.game.gameName}}/{{vm.game.imageUrl}}');background-size:cover;overflow:hidden;"></div>
    <div class="col-xs-6 no-space">
      <div class="row consoleHistory disableMarginRight">
        <div class="col-sm-12 no-space">
          <div ui-ace="vm.consoleHistoryAceOption" ng-model="vm.game.consoleHistory" readonly></div>
        </div>
      </div>
      <div class="row commandLine disableMarginRight">
        <div class="col-sm-12 no-space">
          <div ui-ace="vm.commandLineAceOption" ng-model="vm.commandLine" ng-change="vm.onCommandLineChanged()"
          ng-readonly="vm.commandLineReadOnly"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom rowdyblack">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
              <span ng-if="vm.game.roomName">{{vm.game.roomName}} |</span>
              <span ng-if="vm.game.obviousDirections">Obvious Directions:
                <span ng-repeat="d in vm.game.obviousDirections">{{d}}</span>
              |
              </span>
              <span ng-if="vm.game.moves">{{vm.game.moves}} Moves |</span>
              <span ng-if="vm.game.commandHistory">{{vm.game.commandHistory.length}} Commands</span>
            </div>
        </div>
    </div>
</nav>
