<nav class="navbar navbar-fixed-top navbar-radfordred">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand"><a href="#/">Rowdy Red's Java Adventures</a> &raquo; User Manual</div>
        </div>
    </div>
</nav>

<div class="no-main-menu">
  <div class="jumbotron semi-transparent">
    <div class="container radfordred">
      <p markdown-to-html="vm.docMd"></p>
      <p></p>
      <hr />
      <p>
        <a href="#/" role="button" class="btn btn-primary radfordred inverted btn-lg">&laquo; Home</a>
        <a href="#/games" role="button" class="btn btn-primary radfordred btn-lg">Play now &raquo;</a>
      </p>
    </div>
  </div>
</div>
