@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Chelsea+Market|Play:400,700|Rokkitt);

body {
	padding-top: 50px; font-family: Play, sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+0,0e0e0e+100 */
	background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top,  #232323 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #232323 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #232323 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.game-container { height: 100%; padding-bottom: 50px; }
.disableMargins { margin-right: auto !important; margin-left: auto !important; } /* Fixes horizontal scrollbar issue */

.consoleHistory.commandLineSelected { height: 85%; }
.tabs.commandLineSelected { height: 15%; }

.consoleHistory.tabletCodeSelected { height: 50%; }
.tabs.tabletCodeSelected { height: 50%; }

.tabs .navbar { min-height: 30px; }
.tabs .navbar.navbar-fixed-bottom { position: fixed; width: 50%; left: 50%; bottom: 51px; overflow: hidden; }
.tabs .navbar.navbar-fixed-bottom .container-fluid { padding: 0px 0px 0px 0px; }
.tabs { padding-bottom: 32px; }

.ace_editor { height: 100%; width: 100%; font: 12pt 'Source Code Pro', monospace !important; }
.ace_editor.commandLine, .ace_editor.tabletCode { font: 12pt 'Source Code Pro', monospace !important; }
.no-space { padding-left: 0px; padding-right: 0px; }
.semi-transparent {   background: rgba(0,0,0,0.5); }
.navbar-radfordred {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2011b+65,a50002+100 */
	background: #c2011b; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2011b 65%, #a50002 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c2011b 65%,#a50002 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c2011b 65%,#a50002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2011b', endColorstr='#a50002',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x;
	color: #fff;
  border-radius: 0px;
}
.navbar-radfordred .navbar-nav > .open > a,
.navbar-radfordred .navbar-nav > .active > a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2011b+65,a50002+100 */
	background: #c2011b; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2011b 65%, #a50002 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c2011b 65%,#a50002 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c2011b 65%,#a50002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2011b', endColorstr='#a50002',GradientType=0 ); /* IE6-9 */
	color: #fff;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-radfordred .navbar-brand,
.navbar-radfordred .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	font-family: 'Chelsea Market', cursive;
}
.navbar-radfordred .navbar-brand .subtitle
{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	font-family: 'Rokkitt', serif;
	font-style: italic;
}

.rowdyblack {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+0,0e0e0e+100 */
	background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top,  #232323 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #232323 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #232323 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: #fff;
  border-radius: 0px;
}
.navbar.rowdyblack .navbar-nav > .open > a,
.navbar.rowdyblack .navbar-nav > .active > a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+0,0e0e0e+100 */
	background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top,  #232323 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #232323 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #232323 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: #fff;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar.rowdyblack .navbar-brand,
.navbar.rowdyblack .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	font-family: 'Play', sans-serif;
}

.main-menu {
	background-image: url('../img/Iteration%202/mainBack.gif') !important;
	background-size:cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.main-menu .jumbotron {
	width: 100%;
}

.main-menu .choose-game, .main-menu .choose-game .row {
	text-align: center;
}

.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}

.modal-content {
	background: transparent;
	color: white;
}

.modal-error {
	background: rgba(194,1,27,0.75);
	border: 1px solid black;
	border-radius: 1.22em;
}

.modal-error table tbody tr td, .modal-error table tbody tr th {
	color: black;
}

.float-right {
	float: right;
}
