body { padding-top: 70px; padding-bottom: 70px; }
.map { border-collapse: separate; border-spacing: 1px; }
.map-row { height: 75px; }
.map-cell { width: 75px; background-color: #eee; border: 1px solid #999; text-align: center; font-variant: small-caps;  }
.map-cell-selected { border: 3px solid #900; }
.walking-area { background-color: #ccc; }
#goal { width: 250pt; max-height: 50px; }

label { font-weight: normal !important; font-size: 10pt; }

.ace_editor { height: 600px; }
