<!doctype html>
<html ng-app="GameUIControllerModule">
  <head>
    <title>{{appName}}</title>

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="./lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="./lib/angular/angular.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/angular-ui-ace/ui-ace.js"></script>

    <!-- game code -->
    <link rel="stylesheet" type="text/css" href="./css/game.css" />
    <script type="text/javascript" src="./js/mapBuilder.js"></script>
    <script type="text/javascript" src="./js/mapService.js"></script>
    <script type="text/javascript" src="./js/gameConfiguration.js"></script>
    <script type="text/javascript" src="./js/gameEngine.js"></script>
    <script type="text/javascript" src="./js/gameUIController.js"></script>
  </head>
  <body ng-controller="GameUIController">
    <!-- top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <ol class="breadcrumb">
              <li>{{appName}}</li>
              <li>{{gameEngine.getRoom().heading}}</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>

    <!-- center container -->
    <div class="container-fluid">
      <div class="row">
        <div class="map col-md-6">
          <img class="col-md-12" ng-src="./img/{{gameEngine.getRoom().image}}" alt="./img/{{gameEngine.getRoom().image}} - {{gameEngine.getRoom().description}}" />
        </div>
        <div class="col-md-6">
          <div id="history" ng-model="gameEngine.gameState.commandHistory" ui-ace="{
            useWrapMode: true,
            showGutter: false,
            theme: 'twilight',
            mode: 'text',
            onLoad: consoleLoaded,
            onChange: consoleChanged
          }"></div>
          <div id="prompt" ng-model="prompt" ui-ace="{
            useWrapMode: true,
            showGutter: false,
            theme: 'twilight',
            mode: 'text',
            onLoad: promptLoaded
          }"></div>
        </div>
      </div>
    </div>

    <!-- bottom navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-text navbar-left">
          <span ng-show="debug">DEBUG MODE ENABLED! </span>
          <span ng-show="gameEngine.gameState.moves">You are currently playing the game and have made {{gameEngine.gameState.moves}} moves.</span>
        </p>
      </div>
    </nav>
  </body>
</html>
