<!doctype html>
<html ng-app="GameControllerModule">
  <head>
    <title>RU Code Combat / Zork Basic Game Prototype</title>

    <!-- libraries -->
    <script type="text/javascript" src="./lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="./lib/angular/angular.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/angular-ui-ace/ui-ace.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.css" />

    <!-- game code -->
    <script type="text/javascript" src="./js/mapBuilder.js"></script>
    <script type="text/javascript" src="./js/mapService.js"></script>
    <script type="text/javascript" src="./js/gameController.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/game.css" />
  </head>
  <body ng-controller="GameController">
    <!-- top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
           <div class="navbar-brand">
             RU Code Combat / Zork Thingy / Rowdy Red's Java Adventure
           </div>
         </div>
      </div>
    </nav>

    <!-- center container -->
    <div class="container-fluid">
      <div class="row">
        <div class="map col-md-6">
          <img class="col-md-12" ng-src="./img/{{getRoom().image}}" alt="./img/{{getRoom().image}} - {{getRoom().description}}" />
        </div>
        <div class="col-md-6">
          <h2>{{getRoom().heading}}</h2>
          <div id="history" ng-model="gameState.commandHistory" ui-ace="{
            useWrapMode: true,
            showGutter: false,
            theme: 'twilight',
            mode: 'text',
            onLoad: consoleLoaded,
            onChange: consoleChanged
          }"></div>
          <div id="prompt" ng-model="prompt" ui-ace="{
            useWrapMode: true,
            showGutter: false,
            theme: 'twilight',
            mode: 'text',
            onLoad: promptLoaded
          }"></div>
        </div>
      </div>
    </div>

    <!-- bottom navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-text navbar-left">
          <span ng-show="gameState.moves">You are currently playing the game and have made {{gameState.moves}} moves.</span>
        </p>
      </div>
    </nav>
  </body>
</html>
