<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="screen" type="text/css" href="~/Content/components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="~/Content/components/ace/lib/ace/css/editor.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="~/Content/css/style.css" />
  </head>
  <body>
    @RenderBody()
    <script data-main="/Content/js/main.js" src="~/Content/components/requirejs/require.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

