<nav class="navbar navbar-fixed navbar-radfordred">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Rowdy Red's Java Adventures <small class="subtitle">Brought to you by Team Combat Clones at Radford University.</small></div>
        </div>
    </div>
</nav>

<div id="mainMenu">
  <a ng-click="vm.startNewGame()"><button class="menuButton" style="margin-top: 70px;">New Game</button></a>
  <!-- <a href="main.php?id=2"><button class="menuButton">Continue Game</button></a>
  <a href="main.php?id=3"><button class="menuButton">Options</button></a> -->
</div>
